html {
    font: normal 400 16px "Arial", sans-serif;
}

main {
    background-color: rgb(206, 206, 154);
}

.content-center {
    text-align: center;
}

img {
    border-radius: 30px;
}

h2 {
    text-align: center;
    color: rgb(11, 41, 11);
    text-decoration: underline;
}

h3 {
    text-transform: uppercase;
}